<table class="table" border="2" style="margin-top: 1%;">
    <tr>
      <td class="table-active">氏名</td>
      <td><%= @player.last_name %>&nbsp;<%= @player.first_name%></td>
    </tr>
    <tr>
      <td class="table-active">カナ</td>
      <td><%= @player.kana_last_name %>&nbsp;<%= @player.kana_first_name %></td>
    </tr>
    <tr>
      <td class="table-active">メールドレス</td>
      <td><%= @player.email %></td>
    </tr>
  </table><br>