<div class="container">
    <h3>試合追加・一覧画面</h3>
    <br>
    <%= form_for @game_new ,url: admin_managers_games_path do |f| %>
        <div class="field row">
        <div class="col-md-6">
            <%= f.label :敵スコア %>
            <%= f.number_field :enemy_score %>
            <%= f.submit :追加, class: 'btn btn-primary'%>
        </div>
        </div>
    <% end %>
    <br>
    <br>
    <br>
    <div class="col-xs-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>敵スコア</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @games.each do |game| %>
                    <tr>
                        <td>
                            <%= game.enemy_score%>
                        </td>
                        <td>
                            <%= link_to "edit", edit_admin_managers_game_path(game.id) ,class:"btn-sm btn-success" %>
                        </td>
                    </tr>
                <% end %>
            </tbody> 
        </table>
    </div>
</div>
