<div class="container-fluid">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">試合記録変更画面</h1>
	</div>
  <div class="row">
    <div class="col-md-11">
      <h2><%= "#{score(@game)} - #{@game.enemy_score}" %></h2>
      <%= form_with model: @game, url: admin_managers_game_path(@game) do |game_form| %>
        <%= game_form.label :失点数 %>
        <%= game_form.number_field :enemy_score, min:0, step:1, rows:'5', placeholder: "数字を入力",class: "col-md-1" %>
        <%= game_form.submit "変更" , class: "btn btn-primary"%>
      <% end %>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>選手名</th>
                  <% @analiyses.each do |analiysis| %>
                    <th><%= analiysis.name %></th>
                  <% end %>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <% @game.achivements.each do |achivement| %>
                <%= form_with model: achivement, url: admin_managers_game_player_achivements_path(@game.id, achivement.player_id), method: :patch, local: true do |achivement_form| %>
                  <tr>
                      <td>
                          <%=  achivement.player.first_name %>
                      </td>
                      <% achivement.results.each do |result| %>
                        <td>
                          <%= achivement_form.fields_for "results[]", result do |result_form| %>
                            <%= result_form.number_field :amount, min:0, step:1, rows:'5',placeholder: "数字を入力" %>
                          <% end %>
                        </td>
                      <% end %>
                      <td>
                        <%= achivement_form.submit "変更する" , class: "btn  btn-primary"%>
                      </td>
                  </tr>
                <% end %>
              <% end %>
          </tbody>
      </table>
      <%= link_to "完了", admin_managers_games_path, class:"btn bg-primary" %>
    </div>
  </div>
</div>