
<div class="row">
  <div class="col-xs-9">
      <h3>試合記録画面</h3>
      <%= "#{score(@game)} - #{@game.enemy_score}" %>
      <%= form_with model: @game, url: admin_managers_game_path(@game) do |game_form| %>
        <div class="field row">
          <h4>失点数</h4>
          <%= game_form.number_field :enemy_score, min:0, step:1, rows:'5', placeholder: "数字を入力" %>
          <%= game_form.submit "変更する" , class: "btn btn-primary"%>
        </div>
      <% end %>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>選手名</th>
                  <% @analiyses.each do |analiysis| %>
                    <th><%= analiysis.name %></th>
                  <% end %>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <% @game.achivements.each do |achivement| %>
                <%= form_with model: achivement, url: admin_managers_game_player_achivements_path(@game.id, achivement.player_id), method: :patch, local: true do |achivement_form| %>
                  <tr>
                      <td>
                          <%=  achivement.player.first_name %>
                      </td>
                      <% achivement.results.each do |result| %>
                        <td>
                          <%= achivement_form.fields_for "results[]", result do |result_form| %>
                            <%= result_form.number_field :amount, min:0, step:1, rows:'5',placeholder: "数字を入力" %>
                          <% end %>
                        </td>
                      <% end %>
                      <td>
                        <%= achivement_form.submit "変更する" , class: "btn  btn-primary"%>
                      </td>
                  </tr>
                <% end %>
              <% end %>
          </tbody>
      </table>
      <%= link_to "完了", admin_managers_games_path, class:"btn bg-primary" %>
  </div>
</div>
