
<div class="row">
  <div class="col-xs-9">
      <h3>試合記録画面</h3>
      <%= "#{score(@game)} - #{@game.enemy_score}" %>
      <%= form_for(@game,url: admin_managers_game_path(@game),) do |f| %>
        <div class="field row">
          <h4>失点数</h4>
          <%= f.number_field :enemy_score, min:0, step:1, rows:'5', placeholder: "数字を入力" %>
        </div>
        <div class="actions row">
          <%= f.submit "Update" ,class: "btn btn-primary col-xs-12" %>
          <br>
        </div>
      <% end %>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>選手名</th>
                  <% @analiyses.each do |analiysis| %>
                    <th><%= analiysis.name %></th>
                  <% end %>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <% @achivements.each do |achivement| %>
                  <tr>
                      <td>
                          <%=  achivement.player.first_name %>
                      </td>
                      <% achivement.results.each do |result| %>
                        <td>
                          <%= form_with model: result, url: admin_managers_game_result_path(@game.id, result.id), method: :patch, local: true do |f| %>
                            <%= f.number_field :amount, min:0, step:1, rows:'5',placeholder: "数字を入力" %>
                            <%= f.submit "変更する" , class: "btn  btn-primary"%>
                          <% end %>
                        </td>
                      <% end %>
                      <td>
                      </td>
                  </tr>
              <% end %>
          </tbody>
      </table>
      <%= link_to "完了", admin_managers_games_path, class:"btn bg-primary" %>
  </div>
</div>
