<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<% if player_signed_in? %>
			<h1 class="h3 mb-0 text-gray-800">Player</h1>
		<% elsif manager_signed_in? %>
			<h1 class="h3 mb-0 text-gray-800">Mnager</h1>
		<% else %>
			<h1 class="h3 mb-0 text-gray-800">Guest</h1>
		<% end %>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <ul>
		<% if player_signed_in? %>
      <li><%= link_to "マイページ", public_player_path(current_player) %></li>
      <li><%= link_to "試合一覧" %></li>
      <li><%= link_to "ログアウト", destroy_player_session_path, method: :delete %></li>
    <% elsif manager_signed_in? %>
      <h1 class="h3 mb-0 text-gray-800">Manager</h1>
      <li><%= link_to "マイページ", admin_managers_path %></li>
      <li><%= link_to "試合一覧", admin_managers_games_path %></li>
      <li><%= link_to "選手一覧", admin_managers_players_path %></li>
      <li><%= link_to "ログアウト", destroy_manager_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "新規登録", new_player_registration_path %></li>
      <li><%= link_to "ログイン", new_player_session_path %></li>
      <li><%= link_to "マネ新規登録", new_manager_registration_path %></li>
      <li><%= link_to "マネログイン", new_manager_session_path %></li>
    <% end %>
  </ul>
</div>