<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <table class="table table-striped">
        <thead>
            <tr>
                <th>項目</th>
                <th>総数</th>
            </tr>
        </thead>
        <tbody>
          <% @achivement.results.each do |result| %>
            <tr>
              <td><%= result.analiysis.name %></td>
              <td><%= result.amount %></td>
            </tr>
          <% end %>
        </tbody> 
      </table>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="row">
  <h3>監督コメント</h3><br/>
  <div class="col-md-9">
    <%= form_with(model: @achivement, url: admin_managers_game_player_achivements_path(@game,@achivement), method: :patch) do |achivement_form| %>
        <%= achivement_form.text_area :manager_comment, class: '', style: "resize: both;", placeholder:"監督のコメントを入力" %>
        <%= achivement_form.submit '投稿', class: "btn bg-primary" %>
    <% end %>
  </div>
</div>
